<div class="container mt-5"></div>
    <h2>Welcome to your Dashboard, {{userData.name}}!</h2>
    <p>Your email: {{userData.email}}</p>
    <img src="{{userData.photo}}" alt="Profile Photo" class="img-thumbnail" style="max-width: 150px;">
  </div>