<div class="container mt-5"></div>
    <h2>Welcome to your Dashboard, {{user.name}}!</h2>
    <p>Your email: {{user.email}}</p>
    <img src="{{user.photo}}" alt="Profile Photo" class="img-thumbnail" style="max-width: 150px;">
  </div>