<h1 class="modal-title p-3 mx-4">La Casa De Lupulo</h1>
<div style="width: 50%; padding: 5rem">
  <h3>Somos una empresa dedicada a traer lo mejor de la cerveza artesanal
    nacional é internacional, creando una comunidad calida y llena de amistad.</h3><br
  />
  <h2>¡¡¡TE ESPERAMOS!!!</h2>
</div>