<h3 class="modal-title p-3 mx-4">Registro de Usuario</h3>
<form class="container mt-5" id="registerForm">
  <label class="form-label" for="name">Nombre completo:</label>
  <input class="form-control" type="text" id="name" name="name" required />

  <label class="form-label" for="age">Edad:</label>
  <input class="form-control" type="text" id="age" name="age" Not required />

  <label class="form-label" for="adress">Dirección:</label>
  <input
    class="form-control"
    type="text"
    id="adress"
    name="adress"
    Not
    required
  />

  <label class="form-label" for="email">Email:</label>
  <input class="form-control" type="email" id="email" name="email" required />

  <label class="form-label" for="password">Contraseña:</label>
  <input
    class="form-control"
    type="password"
    id="password"
    name="password"
    required
  />

  <label class="form-label" for="photo">URL de foto de perfil:</label>
  <input class="form-control" type="url" id="photo" name="photo" required />

  <button class="btn btn-warning" type="submit">Registrarse</button>
</form>

<div id="responseMessage"></div>